name: Release

on:
  pull_request:
    types: [ closed ]
  workflow_dispatch:
    inputs:
      version:
        description: Version
        required: true

jobs:
  release:
    if: (github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release/')) || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      GH_TOKEN: ${{ github.token }}
      GH_REPO: ${{ github.repository }}
      RELEASE_BRANCH: ${{ github.event.pull_request.head.ref || inputs.version }}

    steps:
      - id: generate_token
        uses: tibdex/github-app-token@v1.8.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Create release draft
        run: |
          version=${RELEASE_BRANCH#release/}
          gh release create ${version} --title ${version} --generate-notes --discussion-category Announcements
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
